.body{
	/*position: relative;*/
	left: 10px;
	top: 10px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
.left{

	float: left;
	width: 5%;
	height: 700px;
	background-image: url(./image/yuezhong.jpg);
	background-repeat:repeat-y;
	background-size: 100%;
}
.right{

	left: 2px;
}
.top{
	float: right;
	left: 5%;
	height: 50px;
	width: 95%;
	background-image: url(./image/yuezhong.jpg);
	background-repeat: repeat;
	background-size: 100%;
}

.listpic{
	position: relative;
	float: left;
	margin: 20px 0px 0px 40px;
	height: 150px;
	width: 250px;
	/*background-image: url(./image/shunfeng.jpg);*/
	background-repeat: no-repeat;
	background-size: 100%;

}
.listpic img{
	height: 100%;
	width: 100%;

}
.print_demo_top{
	width: 100%;
	height: 25px;
	

}
.print_demo_top_form{
	margin: 0px auto;
	width: 450px;
}
.print_detail{
	margin: 40px auto 0px auto;
	/*1px=25cm,23cm*/
	/*1pt=0.35mm,23cm=676.5pt*/
	font-size: 18px;   
}
.print{
	margin: 0px auto 0px auto;
}
.print input{
	margin: 0px auto;
}
ul{	
	float: left;
	list-style-type: none;
}
li{
	display: block;
}

.yuezhong{
	position: relative;
	margin: 0px auto 0px auto;
	width: 850px;
	height: 560px;
	background-image: url(./image/shunfeng.jpg);
	background-repeat: no-repeat;
	background-size: 95%;
}
.fajianfang{
	width: 220px;
}
.shoujianfang{
	width: 200px;
}
.qita{
	width: 110pt;
}
.shoujianfang div{
	height: 28px;
}
.qita div {
	height: 28px;
}
.fajianfang  {

}
.fajianfang .客户号码{
	position: absolute;

	top: 120px;
}
.fajianfang .始发地{
	position: absolute;
	top: 140px;
}
.fajianfang .备注{
	position: absolute;
	top: 160px;
}
.fajianfang .月结{
	position: absolute;
	top: 180px;
}
.fajianfang .委托货物内容{
	position: absolute;
	top: 200px;
}
.fajianfang .电话{
	position: absolute;
	top: 220px;
}
.fajianfang .公司名称{
	position: absolute;
	top: 240px;
}
.fajianfang .地址{
	position: absolute;
	top: 260px;
}
.fajianfang .寄件人签名{
	position: absolute;
	top: 280px;
}
.fajianfang .承运人{
	position: absolute;
	top: 300px;
}