<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("print.css")}}">
	<script type="text/javascript" src="{{static_url("jquery")}}"></script>
	<script type="text/javascript" src="{{static_url("jquery.jqprint.js")}}"></script>
</head>
<body>
	tt{{mingchen}}
	<div class="body">
		<div class="print_list_top">
			<form action="upload"  enctype="multipart/form-data" method="post">
				<p>CSV File:<input type="file" name='printcvsfile'/></p>
				<input type="submit" value="Submit" />
				
			</form>
		</div>
		<div class="print_list_content">
			
		</div>
		
	</div>
</body>
</html>