<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0　Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("print.css")}}">
	<script type="text/javascript" src="{{static_url("jquery")}}"></script>
	<script type="text/javascript" src="{{static_url("jquery.jqprint.js")}}"></script>
<script type="text/javascript">
	var hkey_root,hkey_path,hkey_key;
	hkey_root="HKEY_CURRENT_USER";
	<!--地址的写法很严格的用双斜杠-->
	hkey_path="/Software/Microsoft/Internet Explorer/PageSetup";
	//设置网页打印的页眉页脚为空
	function pagesetup_null(){
	try{
		var RegWsh = new ActiveXObject("WScript.Shell");
		hkey_key="/header";
		RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"");
		hkey_key="/footer";
		RegWsh.RegWrite(hkey_root+hkey_path+hkey_key,"");
		hkey_key = "margin_top";
        RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0");
        hkey_key = "margin_bottom";
        RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0");
        hkey_key = "margin_left";
        RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0");
        hkey_key = "margin_right";
        RegWsh.RegWrite(hkey_root + hkey_path + hkey_key, "0");
		}catch(e){}
}
</script>

<script type="text/javascript">
$(document).ready(

	 
	 function setprintcss(){
	 	var boxarry=new Array();
	 	boxarry=[['客户号码','23','34535'],['始发地','3.1','4.5']];
	 	// boxarry={{boxlist}};
		var screenx=$(window).width();
		var screeny=$(window).height();
		for (key in boxarry)
			for(key1 in boxarry[key])
				alert(boxarry[key][key1])		
	}	
);
</script>

<style media="print">
	<!--
	.noprint{display:none;}
	.pagenext{page-break-after:always;}
	-->
</style>

</head>
<body>
<!--  <div class="print">
	<input id="printclick" type="button" value="打印" />
</div> 
 -->
 <div class="print">
 	<object classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" id="wb" height="0px" width="0px"></object>

<!--  	<input id="printclick" class="noprint" type="button" value="打印" onclick="pagesetup_null();document.all.wb.ExecWB(6,1)" /> -->

 	<input type="button" class="noprint" value="打印" onclick="pagesetup_null();document.all.wb.ExecWB(7,1)" />
 	<input type="button" class="noprint" value="页面设置" onclick="pagesetup_null();document.all.wb.ExecWB(8,1)" />
</div> 

<div class="print_detail"> 

<!-- {{printdata}} <br/>-->

<!-- ({发件方:{客户号码:tt,始发地:ttt,}},{收件方:{目的地:tt,日期:ttt;}}
,{发件方:{客户号码:tt,始发地:ttt,}},{收件方:{目的地:tt,日期:ttt;}}
,{其他:{bei:tt}}
) -->

{%set fajianfang=tuple(xiangmu[0]['发件方'])%}
{%set shoujianfang=xiangmu[1]['收件方']%}
{%set dagou=list(xiangmu[3]['打勾'])%}
{%set qita=tuple(xiangmu[2]['其他'])%}
{%set relation=xiangmu[4]['relation']%}

<a id="test" href=""></a>

	{% for line in printdata %}
<div class="{{mingchen}}" ><img class="noprint" src="/static/image/{{mingchen}}.jpg">
	<ul class="fajianfang">
		{%for lline,vaule in line['发件方'].items()%}
		{%if vaule !=" "%}
			{%if lline in fajianfang %}
				{%if  lline in relation%}
					{%set relationtmp=relation[lline]%}
					{%if relationtmp not in qita%}	
						<!-- add to qita -->						
						{%set line['其他'][relationtmp] =vaule%}
					{%else%}
						{%set del line['其他'][relationtmp]%}	
						{%set line['其他'][relationtmp] =vaule%}
					{%end%}			
				{%end%}		
				<li class="{{lline}}">"{{lline}}":{{vaule}}</li>			
			{%else %}
				<label>未知的列名:{{lline}}</label>
			{%end%}
		{%end%}
		{%end%}	
	</ul>
	<ul class="shoujianfang">
		{%for lline,vaule in line['收件方'].items()%}
		{%if vaule !=" "%}
			{%if lline in shoujianfang %}
				{%if  lline in relation%}
					{%set relationtmp=relation[lline]%}
					{%if relationtmp not in qita%}	
						<!-- add to qita -->						
						{%set line['其他'][relationtmp] =vaule%}
					{%else%}
						{%set del line['其他'][relationtmp]%}	
						{%set line['其他'][relationtmp] =vaule%}
					{%end%}			
				{%end%}		
				<li class="{{lline}}">"{{lline}}":{{vaule}}</li>			
			{%else %}
				<label>未知的列名:{{lline}}</label>
			{%end%}
		{%end%}
		{%end%}
	</ul>
	<ul class="qita">
		{%for lline,vaule in line['其他'].items()%}	
		{%if vaule !=" "%}	
			{%if lline in qita and lline in dagou %}
				<li class="{{lline}}">{{lline}}dagou</li>				
			{%else%}
				<li class="{{lline}}">"{{lline}}":{{vaule}}</li>				
			{%end%}
		{%end%}
		{%end%}
	</ul>
</div>
	{%end%}


<!-- 发件方,客户号码,始发地,公司名称,地址,寄件人签名,电话,委托货物内容,备注,承运人 -->
</div>

</body>
</html>
