<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("print.css")}}">
	<script type="text/javascript" src="{{static_url("jquery")}}"></script>
	<script type="text/javascript" src="{{static_url("jquery.jqprint.js")}}"></script>
	<script type="text/javascript">
		// $(document).ready(function(){
		// 	$("#upclick").click(function(){
		// 		// $.post('upload',)
		// 					})
		// }

	</script>
</head>
<body>
<!-- target="detail_frame" -->
	<div class="body">
		<div class="print_demo_top">
			<div class="print_demo_top_form">
				<form action=""  enctype="multipart/form-data" method="post" target="_blank">
					<p>选择批量文件Csv:<input type="file" name='printcvsfile'/>
					<input type="submit" id='upclick' value="Submit" /></p>
				</form>
			</div>
		</div>
		<div class="printdetail">
			
			
		</div>
		
	</div>
</body>
</html>