<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0　Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<html>
<head>
	<title>Welcome NexERP</title>
	<link rel="stylesheet" type="text/css" href="{{static_url("print.css")}}">
	<script type="text/javascript" src="{{static_url("jquery")}}"></script>
	<script type="text/javascript" src="{{static_url("jquery.jqprint.js")}}"></script>
</head>
<body>
<div class="print_detail">
<!-- {{printdata}} <br/>-->

<!-- ({发件方:{客户号码:tt,始发地:ttt,}},{收件方:{目的地:tt,日期:ttt;}}
,{发件方:{客户号码:tt,始发地:ttt,}},{收件方:{目的地:tt,日期:ttt;}}
,{其他:{bei:tt}}
) -->

{%set fajianfang=tuple(xiangmu[0]['发件方'])%}
{%set shoujianfang=xiangmu[1]['收件方']%}
{%set dagou=list(xiangmu[3]['打勾'])%}
{%set qita=tuple(xiangmu[2]['其他'])%}
{%set relation=xiangmu[4]['relation']%}
<div>
	<input type="button" value="打印" />
</div>

	{% for line in printdata %}
<div class="{{mingchen}}">
	<div class="fajianfang">
		{%for lline,vaule in line['发件方'].items()%}
		
			{%if lline in fajianfang %}
				{%if  lline in relation%}
					{%set relationtmp=relation[lline]%}
					{%if relationtmp in qita%}			
						{%if relationtmp in dagou%}		
						<div class="{{relationtmp}}">{{relationtmp}}dagou</div>	
							{%if relationtmp in qita%}
								{%set del line['其他'][relationtmp]%}
							{%end %}
						{%else%}
						<div class="{{relationtmp}}">{{vaule}}</div>
						{%set line['其他']["{{relationtmp}}"]%}
						{%end%}
					{%end%}			
				{%end%}		
				<div class="{{lline}}">"{{lline}}":{{vaule}}</div>			
			{%else %}
				<label>未知的列名:{{lline}}</label>
			{%end%}
		{%end%}	
	</div>
	<div class="shoujianfang">
		{%for lline,vaule in line['收件方'].items()%}
		
		
			{%if lline in shoujianfang %}
				{%if  lline in relation%}
					{%set relationtmp=relation[lline]%}
					{%if relationtmp in qita%}	
						{%if relationtmp in dagou%}					
						<div class="{{relationtmp}}">{{relationtmp}}dagou</div>	
							{%if relationtmp in qita%}
								{%set del line['其他'][relationtmp]%}
							{%end %}
						{%else%}
						<div class="{{relationtmp}}">{{vaule}}</div>
						{%set line['其他']["{{relationtmp}}"]%}
					{%end%}			
				{%end%}
				{%end%}
				<div class="{{lline}}">"{{lline}}":{{vaule}}</div>
				{%else %}
				<label>未知的列名:{{lline}}</label>
			{%end%}
		
		{%end%}
	</div>
	<div class="qita">
		{%for lline,vaule in line['其他'].items()%}		
			{%if lline in qita %}
				{%if  lline in relation%}
					{%set relationtmp=relation[lline]%}
					{%if relationtmp in dagou%}					
						<div class="{{relationtmp}}">{{relationtmp}}</div>				
					{%end%}
				{%end%}
				<div class="{{lline}}">"{{lline}}":{{vaule}}</div>
				
			{%end%}
		
		{%end%}
	</div>
</div>
	{%end%}


<!-- 发件方,客户号码,始发地,公司名称,地址,寄件人签名,电话,委托货物内容,备注,承运人 -->
</div>

</body>
</html>
