<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0　Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<html>
<head>
<script type="text/javascript" src="{{static_url("jquery")}}"></script>
<script type="text/javascript" src="{{static_url("jquery.jqprint.js")}}"></script>
<script type="text/javascript">
$(document).ready(

	 
	 function setprintcss(){
//	 	var boxarry=[{'客户号码':['23','34535']},{'始发地':['3.1','4.5']}];
		var screenx=$(window).width();
		var screeny=$(window).height();
//		for (arr  in boxarry)
//			for(vaule key  in boxarry[arr])
//				for(key0 in baxarry[arr][key])	
//			{
//				alert(boxarry[arr][key][key0])
//			};
		alert(screenx);		
		
);
</script>
</head>
<body>
	tt
</body>
</html>
